<h1>Simple Chat</h1>

<input type="text" name="message" id="message" />
<button id="btn">POST</button>

<dl id="list" data-bind="foreach: messages">
<dt>
<span data-bind="text: date"></span>
</dt>
<dd>
<span data-bind="text: message"</span>
</dd>
</dl>